<div class="container col-md-6">
    <div class="py-5 text-center">
        
        <h2>Crear Persona</h2>
        <p class="lead">Ingrese los datos para crear</p>
      </div>
</div>

<div class="row g-12">
    <div class="col-md-3 col-lg-2"></div>

    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Persona</h4>
      <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="nombres" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="nombres" placeholder="" value="" required>
          </div>

          <div class="col-sm-6">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" placeholder="" value="" required>
          </div>

          <div class="col-6">
            <label for="usuario" class="form-label">Usuario</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" id="usuario" placeholder="Usuario@gmail.com" required>
            </div>
          </div>

          <div class="col-6" class="form-group">
            <label for="contrasenna" >Contraseña </label>
            <input type="text" class="form-control" id="contrasenna" placeholder="" required>
          </div>

          <div class="col-12" class="form-group">
            <label for="direccion" >Direccion</label>
            <input type="text" class="form-control" id="direccion" required>
          </div>

          <div class="col-6" class="form-group">
            <label for="telefono">Telefono</label>
            <input type="number" class="form-control" id="telefono" placeholder="">
          </div>

          <div class="col-6" class="form-group">
            <label for="edad">Edad</label>
            <input type="number" class="form-control" id="edad" placeholder="" required>
          </div>
        </div>

        <hr class="my-4">

        <td class="text-center align-middle">
          <div class="btn-group">
            <button class="btn btn-primary btn-lg center" type="submit">Guardar</button>
          </div>
      </td>

        
      </form>
    </div>
  </div>