<div class="container">
    <div class="py-5 text-center">
        
        <h2>Persona</h2>
        <p class="lead">Ingrese los datos para crear</p>
      </div>
</div>

<div class="row g-12">

    <div class="col-md-12">
      <h4 class="mb-3">Personas</h4>
      <form class="needs-validation" novalidate>
        

      <table mdbTable striped="true" class="table table-striped table-responsive-md btn-table">
        <thead>
          <tr>
            <th scope="row">Nombres</th>
            <th>Apellidos</th>
            <th>Usuario</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Edad</th>
            <th>Evento</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor = "let personas of persona">
            <td scope="row">{{personas.nombres}}</td>
            <td>{{personas.apellidos}}</td>
            <td>{{personas.usuario}}</td>
            <td>{{personas.direccion}}</td>
            <td>{{personas.telefono}}</td>
            <td>{{personas.edad}}</td>
            <td><button class="btn btn-primary btn-lg center" type="submit">Editar</button></td>
            <td><button class="btn btn-danger btn-lg center" type="submit">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
        
      </form>
    </div>
  </div>